.food-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .foodcard {
    width: 80%;
    border: 1px solid black;
    font-size: 18px;
    padding: 20px 15px;
    margin-bottom: 15px;
  }
}
